<html lang="en">
<head>
    <meta charset="utf-8">
    <title>peonHUB</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS Toolkit styles -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
    <link rel="stylesheet" href="../../css/bootstrap-responsive.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="../../css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="../../css/jquery.fileupload-ui.css">
    <!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">peonHUB</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/upload/new/">Upload</a></li>
			<li><a href="/upload/list">File List</a></li>
                        <li><a href="/accounts/login/">Login</a></li>
			<li><a href="/accounts/register/">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% block content %}
<div class="container"> 
    <div class="page-header"> 
        <h1>File List</h1> 
    </div> 
    <div class="body"> 
    <table>


{% for file in files %}
    <tr>
    <td>
    <a href="/media/pictures/{{file}}">{{file}}</a></li>
    </td>
    </tr>

{% endfor %}

    </table>

    </div>
</div>


{% endblock %}
</body>
</html>
